DATABASE_URL=postgresql://USER:PASSWORD@db:5432/DB_NAME

DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=nombre_db
DB_HOST=db
DB_PORT=5432

AWS_BUCKET_NAME=nombre-del-bucket
AWS_REGION=us-east-2
# Si la EC2 usa IAM Role, deja estas dos vacias y el codigo usara el rol
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
